<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/home"></ion-back-button>
    <ion-title>Lista Nutricionistas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1> Estos son los nutricionistas disponibles</h1>
  <ion-item *ngFor="let nutricionista of listaNutricionistas">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ nutricionista.nombre }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-item>
</ion-content>
<app-nav-bar></app-nav-bar>
