<ion-content fullscreen class="login-container" scroll-y="false">

  <div class="upper-panel">
    <div class="textos-superiores" [ngClass]="{ 'oculto': ocultarTextos }">
      <h2 class="hola">¡Hola!</h2>
      <h2 class="bienvenido">Bienvenido a</h2>
    </div>
    <div>
      <img src="assets/img/NutrilinkLOGO.png" alt="logo" class="logo-nutrilink" [ngClass]="{ 'subir-logo': ocultarTextos }">
    </div>
  </div>
    <!--Panel de inicio sesión -->
    <div class="lower-panel">
      <!--Letras iniciar sesión -->
      <h3 class="iniciar-sesion">Iniciar Sesión</h3>
      <!--Input correo-->
      <ion-item class="input-item">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input [(ngModel)]="mdl_correo" placeholder="Ingresar correo" type="email"></ion-input>
      </ion-item>
      <!--Input contraseña-->
      <ion-item class="input-item">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input [(ngModel)]="mdl_contrasena" placeholder="Ingresar contraseña" type="password"></ion-input>
      </ion-item>

      <ion-item lines="none" class="remember-item">
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Mantener la sesión</ion-label>
      </ion-item>
      <ion-button expand="block" class="login-button" (click)="login()">INICIAR SESIÓN</ion-button>
    </div>
    
</ion-content>
